*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
i[class*="ico-"] {
  font-family: 'FontAwesome';
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
}

i.ico-menu {
  position: absolute;
  width: 17px;
  height: 17px;
  left: 90%;
  margin-right: 55px;
}
.b-main-navigation{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #F47568;
  width: 100%;
}
.b-main-navigation__trigger{
  position: relative;
  padding: 15px;
  display: none;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}
.b-main-navigation__list{
  list-style: none;
}
.b-main-navigation__item{
  display: inline-block;
}
.b-main-navigation__link{
  padding: 15px;
  display: block;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
}
.b-main-navigation__link:hover{
  color: #222;
}

/*beginMediaQuery*/
@media screen and (max-width: 500px) {
  .b-main-navigation__item{
    text-align: center;
    display: block;
  }
  .b-main-navigation__trigger{
    display: block;
  }
  .b-main-navigation__list{
    display: none;
  }
  .b-main-navigation__link{
    border-bottom: 1px solid #fff;
  }
}
/*endMediaQuery*/
